/* ;==========================================
     ; Title:  Djibli Kheddam project
     ; Author: Manel Kheffache, Anais Tinhinane Amara, Kenza Benbouabdellah & Bilal Si Said 
     ; Date:   1 Jul 2020
     ;========================================== */

*{font-family: sans-serif; margin: 0px; }
body{
    font-family: sans-serif;}
.header{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 0px 5px #ccc;
}
.fakeheader{
    height: 80px;
}
.recherche{
    display: flex;
    justify-content: center;
    height: 43px;
    margin-top: 13px;
}
#logo{
    height: 90%;
    width: 180px;
}
#barre{
    width: 340px;
    border: 2px solid #03bea7;
    border-radius: 40px;
    padding-left: 15px;
    outline: none;
}
#loupe{
    background-color: white;
    border: none;
    position: absolute;
    margin-left: 146px;
    border-radius: 50px;
    margin-top: 4px;
    outline: none;
    cursor: pointer;
}
#loupe img{
    height: 30px;
}
#inscription{
    margin-top: 2px;
    height: 65px;
    background-color: white;
    border: 2px solid #03bea7;
    border-radius: 15px;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
}
#inscription a{
    text-decoration: none;
    color: #03bea7;
    font-style: inherit;
}
#connexion{
    height: 95%;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 15px 48px;
    background-color: #e6e9eb;
    width: 100%;
    box-sizing: border-box;
}
.titre{
    color: #03bea7;
}
.contact{
    text-decoration: none;
    color: #696c71;
}
.social{
    width: 50px;
}
#copyright{
    text-align: center;
    color: #696c71;
    margin-top: 7px;
    margin-bottom: 7px;
}
.categories{
    padding: 5px;
    background-color: #5491f6;
}
.categorie{
    background-color: #5491f6;
    font-weight: bold;
    padding: 0px 46px;
    text-decoration: none;
    color: white;
    border: none;
    font-size: inherit;
    outline: none;
    cursor: pointer;
}
.accueil{
    display: flex;
    justify-content: space-between;
    padding: 40px 105px;
}
.accueil1{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}
.chercher{
    margin-top: 90px;
}
.text{
    color: #696c71;
    text-align: center;
}
#chercher{
    border: 1px solid #03bea7;
    height: 40px;
    width: 227px;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}
.wilaya{
    background-color: white;
    border: 1px solid #03bea7;
    border-radius: 5px;
    height: 44px;
    color: #696c71;
    outline: none;
}
.cherche{
    background-color: #03bea7;
    border: 1px solid #03bea7;
    color: white;
    height: 44px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.cherche a{
    text-decoration: none;
    color: white;
}
.photo{
    width: 48%;
    padding-top: 10px;
}
.marcher{
    padding: 10px 48px;
}
.marche{
    padding: 5px 29px;
}
#marche1{
    width: 25.9%;
}
#marche2{
    width: 16.9%;
}
#marche3{
    width: 16%;
}
#marche4{
    width: 20.9%;
}
.textv{
    color: #03bea7;
    text-align: center;
}
.textb{
    color: #5491f6;
    text-align: center;
}
.fond{
    background-color: #e6e9eb;
    width: 100%;
    padding: 20px 105px;
    box-sizing: border-box;
}
.voir{
    display: block;
    margin: auto
}
.voir a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.liste{
    list-style: none;
    padding: 0px;
}
.cat{
    text-decoration: none;
    color: #696c71;
    transition: all linear .28s;
    background-color: #e6e9eb;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: inherit;
    outline: none;
}
.cat:hover{
    font-size: 19px;
    margin: 0 auto;
    color: #03bea7;
}
.fond1{
    padding: 20px 48px;
    box-sizing: border-box;
}
.situation{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}
.situation1{
    display: flex;
    justify-content: space-between;
}
.wil{
    color: #696c71;
    transition: all linear .10s;
}
.wil:hover{
    font-size: 17px;
    margin: 0 auto;
    color: #5491f6;
}
.situation1 img{
    width: 30%;
    padding-right: 90px;
}
.liste1{
    list-style: none;
    padding: 75px 80px;
}
.histoire{
    background-color: #e6e9eb;
    border-radius: 15px;
    width: 92%;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 20px 48px;
    box-sizing: border-box;
}
.histoires{
    background-color: #e6e9eb;
    border-radius: 15px;
    width: 92%;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 20px 90px;
    box-sizing: border-box;
}
.histoire p, .histoires p{
    color: #696c71;
}
.ligne{
    display: flex;
}
.connecte{
    border: 2px solid #03bea7;
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 125px;
    cursor: pointer;
    margin-left: 10px;
}
.connecte a{
    text-decoration: none;
    color: #03bea7;
}
.textg{
    color: #696c71;
    margin-bottom: 5px;
    margin-right: 5px;
}
.accueil1 img{
    width: 40%;
    height: 50%;
}
.input{
    background-color: white;
    border-radius: 7px;
    border: 1px solid #696c71;
    height: 30px;
    outline: none;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 90%;
    margin-top: 5px;
}
.inputd{
    background-color: white;
    border-radius: 7px;
    border: 1px solid #696c71;
    outline: none;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 50px;
    width: 545px;
}
.inputt{
    background-color: white;
    border-radius: 7px;
    border: 1px solid #696c71;
    outline: none;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 30px;
    width: 545px;
}
.wila{
    background-color: white;
    border: 1px solid #696c71;
    border-radius: 5px;
    height: 35px;
    width: 93%;
    outline: none;
    color: #696c71;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-top: 5px;
}
.date{
    background-color: white;
    border: 1px solid #696c71;
    border-radius: 5px;
    height: 35px;
    width: 19.5%;
    outline: none;
    color: #696c71;
    margin-right: 5px;
    margin-bottom: 5px;
}
.puce{
    background-color: white;
    border: 1px solid #696c71;
    margin-right: 3px;
}
.connecte1{
    border: 2px solid #5491f6;
    border-radius: 7px;
    background-color: white;
    height: 30px;
    width: 125px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}
.connecte1 a{
    text-decoration: none;
    color: #5491f6;
}
.connect{
    background-color: #5491f6;
    border: 1px solid #5491f6;
    color: white;
    height: 40px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.connect a{
    text-decoration: none;
    color: white;
}
.titreb{
    margin-left: 148px;
    margin-top: 35px;
    color: #5491f6;
}
.titrev{
    margin-left: 148px;
    margin-top: 35px;
    color: #03bea7;
}
.deja{
    color: #696c71;
    margin-left: 101px;
    margin-top: 5px;
}
.genre{
    margin-top: 5px;
    margin-left: 15px;
}
.list{
    display: flex;
    list-style-position: inside;
}
.listes{
    list-style-type: none;
    width: 49%;
}
.adresse{
    margin-left: 40px;
}
.ad{
    margin-left: 39px;
    width: 87.5%;
}
.gen{
    margin-left: 10px;
}
.champ{
    text-align: end;
    margin-right: 31px;
}
.vous{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #5491f6;
    text-align: center;
}
.connex{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 43%;
    margin-bottom: 20px;
    padding-right: 70px;
}
.deja1{
    color: #696c71;
    margin-left: 101px;
    margin-top: 20px;
}
.je{
    border: 2px solid #03bea7;
    border-radius: 7px;
    background-color: white;
    height: 60px;
    width: 140px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
    margin-bottom: 5px;
}
.je a{
    text-decoration: none;
    color: #03bea7;
}
.box1{
    padding: 145px 120px;
}
.box{
    display: grid;
}
.box label{
    margin-top: 5px;
}
.input1{
    height: 30px;
    width: 370px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #696c71;
    padding-left: 5px;
}
.rdv{
    background-color: #e6e9eb;
    border-radius: 35px;
    width: 85%;
    margin-left: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-top: 55px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.rdv1{
    background-color: #e6e9eb;
    border-radius: 20px 20px 0px 0px;
    width: 85%;
    margin-left: 50px;
    box-sizing: border-box;
    margin-top: 55px;
    margin-left: 100px;
}
.vert{
    background-color: #03bea7;
    height: 131px;
    border-radius: 35px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}
.r{
    background-color: white;
    border-radius: 20px;
    height: 44px;
    width: 22%;
    color: #03bea7;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 43px 0px;
}
.contour{
    width: 12%;
    height: 130px;
}
.situation2{
    display: flex;
}
.situation2 img{
    height: 19px;
    width: 13px;
    margin-right: 2px;
}
.pad{
    padding: 40px 75px;
}
.marg{
    margin-right: 580px;
}
.mar p{
    color: #696c71;
}
.marg p{
    color: #696c71;
    margin-bottom: 5px;
}
.bot{
    margin-bottom: 5px;
}
.ma{
    margin-bottom: 25px;
}
.but{
    background-color: #03bea7;
    height: 35px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}
.but a{
    text-decoration: none;
    color: white;
}
#top{
    margin-top: 165px;
}
.bleu{
    background-color: #5491f6;
    height: 131px;
    border-radius: 35px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}
.z{
    background-color: white;
    border-radius: 20px;
    height: 44px;
    width: 22%;
    color: #5491f6;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 43px 0px;
}
.bl{
    color: #5491f6;
    margin-bottom: 15px;
}
.butb{
    background-color: #5491f6;
    color: white;
    height: 35px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}
.pa{
    padding: 20px 100px;
}
.mon{
    width: 135px;
    margin-left: 10px;
}
.accueilc{
    display: flex;
    justify-content: space-between;
    padding: 40px 145px;
}
#art{
    margin-top: 120px;
    margin-left: 15px;
}
.photo1{
    width: 45%;
    padding-top: 10px;
}
#ca{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.his{
    background-color: #e6e9eb;
    border-radius: 15px;
    width: 80%;
    margin-left: 133px;
    padding: 20px 50px;
    box-sizing: border-box;
}
#mdp{
    color: #5491f6;
    margin-top: 3px;
}
#souvenir{
    text-align: end;
    margin-top: 5px;
}
.marge{
    margin-bottom: 35px;
    margin-top: 35px;
}
.butb a{
    text-decoration: none;
    color: white;
}
.carte{
    background-color: #e6e9eb;
    border-radius: 10px;
    width: 30%;
    margin: 30px 20px;
    height: 535px;
}
.cartea{
    background-color: #e6e9eb;
    border-radius: 10px;
    width: 30%;
    margin: 30px 20px;
    height: 470px;
}
.bleu1{
    justify-content: space-between;
    padding: 5px 10px;
    height: 60px;
    display: flex;
    background-color: #5491f6;
    border-radius: 10px;
}
.bleu1 img{
    height: 60px;
}
.bulle{
    margin-top: 20px;
    height: 60px;
}
.bleu1 button{
    height: 40px;
    width: 108px;
    background-color: white;
    border: 1px solid #5491f6;
    border-radius: 7px;

    margin-top: 10px;
    cursor: pointer;
    outline: none;
    color: #5491f6;
}
.nom{
    margin-top: 14px;
    color: white;
    text-decoration: none;
}
.noma{
    margin: 28px 0px;
    font-size: 37px;
    color: white;
    text-align: center;
}
.nomz{
    margin: 28px 0px;
    font-size: 37px;
    color: white;
    text-align: center; 
}
.nomb{
    color: #5491f6;
    text-decoration: none;
}
.nomc{
    margin: 20px 0px;
    font-size: 37px;
    text-align: center;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.pu{
    height: 15px;
    margin-right: 2px;
    margin-top: 10px;
}
.to{
    margin-top: 10px;
}
.espace{
    padding: 0px 10px;
}
.carte hr{
    height: 1px;
    background-color: #5491f6;
    border: none;
}
.align{
    text-align: center;
}
.larg{
    width: 130px;
    margin-right: 20px;
}
.photo2{
    width: 32%;
    padding-top: 34px;
    height: 370px;
}
.carte1{
    background-color: #e6e9eb;
    border-radius: 10px;
    width: 45%;
    margin: 25px;
    height: 395px;
}
.wid{
    width: 395px;
}
.commentaire{
    width: 59%;
    height: 40px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #5491f6;
    margin: 15px 0px;
    margin-left: 110px;
    margin-right: 45px;
}
.description{
    width: 280%;
    height: 100px;
    margin-top: 5px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #696c71;
}
.wrap{
    flex-wrap: wrap;
    margin-left: 12px;
    
}

.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: 0px auto;
}
.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #5491f6;
    font-size: 35px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 5px;
}
.next{
    left: 100%;
}
.prev{
    right: 99%;
}
.prev:hover, .next:hover{
    background-color: #e6e9eb;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #9cc1f7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.active{
    background-color: #5491f6;
}

.erreur{
    border: 1px solid #dd3c10;
    background-color: #ffebe8;
    color: #dd3c10;
    text-align: center;
    padding: 10px;
    width: 35%;
    margin: 15px 433px;
}
#u{
    background-color: #e6e9eb;
    border-radius: 20px;
    padding: 70px 187px 35px 187px;
    margin: 25px 135px 20px 135px;
}
.lieu{
    background-color: white;
	border: 1px solid #696c71;
	border-radius: 5px;
	height: 35px;
	width: 15%;
	outline: none;
	color: #696c71;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-top: 5px; 
}
.inputa{
    background-color: white;
    border-radius: 7px;
    border: 1px solid #696c71;
    height: 30px;
    outline: none;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 40%;
    margin-top: 5px;
}
.chiffres{
    border: 1px solid #5491f6;
    border-radius: 5px;
    height: 39px;
    width: 4%;
    outline: none;
    color: #5491f6;
    margin: 21px 60px 21px 0px;
}
.chiffre{
    width: 8%;
    height: 50px;
    border-radius: 5px;
    margin: 16px 0px;
    border: 1px solid #5491f6;
    outline: none;
    background-color: white;
    cursor: pointer;
    color: #5491f6;
}
.comm{
    background-color: #e6e9eb;
    border-radius: 0px 0px 20px 20px;
    width: 85%;
    box-sizing: border-box;
    margin-left: 100px;
    padding: 1px 0px;
    margin-bottom: 25px;
}
.coms{
    margin: 20px 109px 5px 109px;
    background-color: white;
    border-radius: 7px;
    width: 68%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
}
.tableau{
    width: 85%;
    box-sizing: border-box;
    margin-left: 100px;
    border: 2px solid #696c71;
}
.tableau tr{
    border: 1px solid #696c71;
}
.tableau td, .tableau th{
    text-align: center;
    color: #696c71;
    border: 1px solid #696c71;
    width: 33%;
}
.nomr{
    height: 50px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px;
    margin: 40px 0px;
}